.home{
  background-color: black;
  color: beige;
}
.container{
  height: 100vh;
  background-color: rgb(3, 46, 46);
  border: 2px solid rgb(247, 142, 163);
  border-radius: 10px;
  margin-top: 10px;
}

.hegtt{
  height: 90vh;
}